:root{
--primary: #072E5B;
--primaryls: #072e5a80;
--secondary: #0043A7;
--white: #fff;
--gray: #E9ECEF;
--whitels: #ffffff80;
--black: #000000;
}

@font-face {
  font-family: "JosefinSans Light";
  src: local("JosefinSans-Light"),
    url("./assets/fonts/JosefinSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans"),
    url("./assets/fonts/JosefinSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSans Medium";
  src: local("JosefinSans-Medium"),
    url("./assets/fonts/JosefinSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSans Bold";
  src: local("JosefinSans-Bold"),
    url("./assets/fonts/JosefinSans-Bold.ttf") format("truetype");
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
    font-family: "JosefinSans";
    background-color: var(--primary);
}